nav{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: sticky;
    top: 0px;
    border-radius: 0 0 20px 20px;
    margin: auto;
    font-family: Nunito, sans-serif;
    z-index: 100;
    background:var(--bgColor);
    backdrop-filter: blur(1rem);
    background: linear-gradient(to right bottom, rgba(15, 14, 17, 0.4), rgba(15, 14, 17, 0.2));
}
nav a{
    background: none;
    margin: 0 30px;
    color: var(--fontColor);
    text-decoration: none;
    font-size: 18px;
    font-family: 'Nunito';
    transition: 0.1s;
}
nav a:hover{
	color: var(--mainColor);
    scale: 1.2;
}

navBorder{
    z-index: 101;
    width: 100%;
    height: 3px;
    display: block;
    position: sticky;
    top: 60px;
    margin: auto;
    border-radius: 5px;
    background: var(--mainColor);
}

/* Media queries */

@media screen and (max-width: 480px) {
nav{
	background-position-x: 5px;
	background-size: 140px;
    padding-right: 0px;
}
nav a{
	margin: 0 0;
	font-size: 15px;
}
}

